
$color-primary-white: #FFFFFF;
$color-primary-green: #40826D;
$color-primary-gold: #FFCC33;

$color-status-watching: #50C878;
$color-status-waiting: #FFCC33;
$color-status-finished: #C41E3A;
$color-status-plan: #BDB5D5;
$color-status-dropped: #C19A6B;